<h1>Update user</h1>

<form>
  <label for="first_name">First name:</label>
  <input type="text" ng-model="currentUser.first_name" id="first_name">

  <label for="last_name">Last name:</label>
  <input type="text" ng-model="currentUser.last_name" id="last_name">

  <label for="email">Email:</label>
  <input type="text" ng-model="currentUser.email" id="email">

  <label for="sport">Sport</label>

  <span ng-repeat="sport in currentUser.sports">{{sport.name}}</span>

  <select id="sport" ng-options="sport.name for sport in sports" domflag>
    <!-- <option value="" disabled>Velg idrett</option> -->
  </select>

  <div ng-show="newSport">
    <label for="new-sport">New sport</label>
    <input id="new-sport" type="text" placeholder="New sport" ng-model="newSportInput.sport">
  </div>
  <input type="button" value="Add sport" ng-click="addSportToUser()" />
  <input type="button" value="New sport" ng-click="newSport = !newSport" />

  <input type="button" ng-click="updateUser()" value="Update user">
</form>
