<!DOCTYPE html>
<html ng-app="td">
  <head>
    <title>Treningsdagbok v2</title>

    <meta charset="utf-8" />

    <script type="text/javascript" src="../script/lib/lib.js"></script>
    <script type="text/javascript" src="../script/application.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/application.min.css">

  </head>
  <body ng-controller="ApplicationCtrl" ng-init="openMenu = false">
    <header class="main-header">
      <div class="toggle-menu" ng-click="openMenu = !openMenu"></div>
    </header>
    <aside ng-class="{open: openMenu}">
      <ul>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="sessions">Sessions</a></li>
        <li ng-if="currentUser"><a ui-sref="user">{{currentUser.first_name}}</a></li>
        <li ng-if="currentUser"><button ng-click="logout()">Logg ut</button></li>
      </ul>
    </aside>
    <div ui-view></div>
  </body>
</html>
